# Authentication
AUTH_MODE=none
# AUTH_MODE=basic
# BASIC_USER=admin
# BASIC_PASS=changeme

# Watch folder (optional)
# WATCH_DIR=/path/on/host/to/watch
WATCH_BITRATE=48

# Notifications (optional)
# NTFY_URL=http://192.168.1.x:8080
NTFY_TOPIC=yoto-splitter

# Internal
DATA_DIR=/data
NODE_ENV=production
